body {
    background:whitesmoke;
    background-image: url("img/background.jpg");
}

.mainContent{
    padding: 25px;
 margin-top: 35px;
 margin-left: 15%;
 margin-right: 15%;
 width:55%;
 border: 1px solid black;
background-color: white;
    text-align: center;

}
ul{
    text-align: left;
}
ul.mainMenu {
    border-radius: 3%;
    width:85%;
    background-color:#B13D2E ;


    margin:25px 7.5% 0 7.5%;

}
h2{
    font-size: 2.8em;
}
li.mainMenu{

    width:24%;
    text-align: center;
    text-decoration: none;
    list-style-type: none
}
li.mainMenu:last-child{
    text-align: right;
}

li.mainMenu:hover{


    background-color: #BF5245;

}
li.mainMenu:hover:last-child{
    background-color: #B13D2E;
}

.link{
    font-size: 2.5em;
    text-decoration: none;
    color:white;
}

a:hover{
    text-decoration:none;
    color:white;
    background-color: #BF5245;
    cursor: pointer;
}
footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: black;
    color:white;
    text-align: right;

}
ol{
    text-align: left;
}
h3{
    text-align: left;
}

@media only screen and (max-width: 1000px) {
    .link{
        font-size: 2em;
        text-decoration: none;
        color:white;
    }

}
@media only screen and (max-width: 780px) {
    .link{
        font-size: 1.3em;
        text-decoration: none;
        color:white;
    }
    .col-sm-4 {
        flex:none;
        max-width: fit-content;
        margin: 3%;
    }

    ul.mainMenu {
        width:30%;
        background-color:#B13D2E ;
        display: inline-block;
        float:left;
        margin:0;
        height: 100%;





    }
    li.mainMenu:last-child{
        background-color: #B13D2E;
        font-size: 0.5em;
    }

    .mainContent{
    float:right;
        max-height: 90%;
        margin: 0;
        display: inline-block;
        width:70%;
        border: 1px solid black;
        background-color: white;
        text-align: center;
    }

}